#root {
    margin-bottom: 120px;
}

.container-fluid {
    padding-top: 70px !important;
    padding-bottom: 70px !important;
}
.navbar {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}

.footer-padding {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer {
	text-align: center;
	background-color: #1abc9c;
    padding: 10px 0;
}

.footer p {
	margin-top: 25px !important;
	font-size: 12px;
    color: #fff;
}
